.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Adjust alignment as per your preference */
    height: 100vh;
    margin-top: 20px; 
  }
  
  .card {
    text-align: center;
    padding:84px;
    border: 7px solid #cccccc;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(29, 183, 217, 0.1);
  }
  .title {
    text-align: center;
  }
